#!/usr/bin/make -f

%:
	dh $@  

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_shlibdeps:
ifeq ($(CARGO), cross)
	dh_shlibdeps -l /usr/arm-linux-gnueabihf/lib/:$(CURDIR) -- --ignore-missing-info
else
ifndef SYSROOT
else
	dh_shlibdeps -l $(CURDIR):$(SYSROOT)/lib/:$(SYSROOT)/usr/lib -- --ignore-missing-info
endif
endif
